* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 460px;
  max-width: 480px;
  border-radius: 4px;
  background-color: #111;
  box-shadow: 2px 2px 8px #333333;
}

.output {
  height: 80px;
}

.keys {
  gap: 8px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button.clear-operator {
  color: #ffffff;
  grid-column-end: 3;
  grid-column-start: 1;
  background-color: #EE9406;
}

button.equal-operator {
  color: #ffffff;
  grid-row: 4 / 6;
  grid-column: 4 / 4;
  background-color: #EE9406;
}

.keys button:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input,
.result {
  color: #fff;
  height: 40px;
  display: block;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
}

button {
  border: none;
  font-size: 30px;
  min-width: 80px;
  min-height: 65px;
  border-radius: 4px;
}

button.number {
  background-color: #323232;
  color: white;
}

button.operator {
  background-color: #A5A5A5;
}